@using System.Security.Claims
@using System.Text
@using Microsoft.IdentityModel.Tokens
@using System.IdentityModel.Tokens.Jwt

@inherits LayoutComponentBase

@inject Blazored.LocalStorage.ILocalStorageService localStorage

<header>
    <div class="links">
        <div class="linkLeft">
            <a class="link" style="@(state == 0 ? selectColor : normalColor)" @onclick="e => state = 0" href="countryes">
                Страны
            </a>
        </div>
        <div class="linkLeft">
            <a class="link" style="@(state == 1 ? selectColor : normalColor)" @onclick="e => state = 1" href="categories">
                Категории
            </a>
        </div>
        @if (admin)
        {
            <div class="linkLeft">
            <a class="link" style="@(state == 2 ? selectColor : normalColor)" @onclick="e => state = 2" href="users">
                Пользователи
            </a>
        </div>
        }
    </div>
    <div class="buttonP">
        <div class="linkRight">
            <div class="rightSpan">@Login</div>
        </div>
        <div class="linkRight accauntButton">
            <button class="accauntButton" @onclick="OnClick">Настройки аккаунта</button>
        </div>
    </div>
</header>

<hr />

<div class="container cu">
    <div class="row align-items-center mainDiv col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        @Body
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Importify - <a href="https://vk.com/artem_gck">Vk</a>
    </div>
</footer>

@code {
    private byte state = 0;
    private bool admin = false;

    private string normalColor = "color: #72778E; text-decoration: none;";
    private string selectColor = "color: #354385; text-decoration: underline;";

    private string login;

    private string Login { 
        get => "@" + login;
        set => login = value;
    }

    protected override async void OnInitialized()
    {
        admin = await localStorage.GetItemAsStringAsync("role") == "admin";

        Login = await localStorage.GetItemAsStringAsync("user");
        StateHasChanged();
    }

    private void OnClick()
    {
        state = 4;

        NavManager.NavigateTo("/accaunt");
    }
}