@using System.Text.RegularExpressions
@inject IPlotService _plotService

<div class="countryYear">
    <div class="country">
        <span>Страна</span>
        <input class="inputCo" @bind="@Country"/>
    </div>
    <div class="year">
        <span>Год</span>
        <input class="inputCo" @bind="@Year"/>
    </div>
</div>
<div class="importExport">
    <div class="importLabels">
        <span>Импорт</span>
        <span>Экспорт</span>
    </div>
    <div class="importInput">
        <input class="inputCo" @bind="@Import"/>
        <input class="inputCo" @bind="@Export"/>
    </div>
     <div class="importPostfix">
        <span>$ тыс.</span>
        <span>$ тыс.</span>
    </div>
</div>
<div>
    <span class="error">@errorMassage</span>
    <div class="buttons">
        <button @onclick="async e => await AddData()">Добавить</button>
        <button @onclick="async e => await UpdateData()">Редактировать</button>
        <button @onclick="async e => await DeleteData()">Удалить</button>
        <button @onclick="OnClickCallback">Назад</button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    private string Country { get; set; }
    private string Year { get; set; }
    private string Import { get; set; }
    private string Export { get; set; }

    private Regex regexForText = new Regex(@"^[a-zA-Z ]*$", RegexOptions.Compiled | RegexOptions.IgnoreCase);
    private Regex regexForInt = new Regex(@"[1-9][0-9]*", RegexOptions.Compiled | RegexOptions.IgnoreCase);
    private Regex regexForDecimal = new Regex(@"^(\d*\.)?\d+$", RegexOptions.Compiled | RegexOptions.IgnoreCase);

    private string errorMassage;

    private async Task AddData()
    {
        if (!ValidateDataAddUpdate())
            return;

        var data = new CountryData()
        {
            Country = Country,
            Year = int.Parse(Year),
            ImportValue = decimal.Parse(Import),
            ExportValue = decimal.Parse(Export)
        };

        await _plotService.AddCountryData(data);
    }

    private async Task UpdateData()
    {
        if (!ValidateDataAddUpdate())
            return;

        var data = new CountryData()
        {
            Country = Country,
            Year = int.Parse(Year),
            ImportValue = decimal.Parse(Import),
            ExportValue = decimal.Parse(Export)
        };

        await _plotService.UpdateCountryData(data);
    }

    private async Task DeleteData()
    {
        if (!ValidateDataDelete())
            return;

        var data = new CountryData()
        {
            Country = Country,
            Year = int.Parse(Year)
        };

        await _plotService.DeleteCountryData(data);
    }

    private bool ValidateDataAddUpdate()
    {
        if (string.IsNullOrWhiteSpace(Country) || string.IsNullOrWhiteSpace(Year) || string.IsNullOrWhiteSpace(Import) || string.IsNullOrWhiteSpace(Export))
        {
            errorMassage = "Не все данные введены";
            return false;
        }
        else if (!regexForText.IsMatch(Country) || !regexForInt.IsMatch(Year) || !regexForDecimal.IsMatch(Import) || !regexForDecimal.IsMatch(Export))
        {
            errorMassage = "Данные введены неверно";
            return false;
        }

        errorMassage = string.Empty;

        return true;
    }

        private bool ValidateDataDelete()
    {
        if (string.IsNullOrWhiteSpace(Country) || string.IsNullOrWhiteSpace(Year))
        {
            errorMassage = "Не все данные введены";
            return false;
        }
        else if (!regexForText.IsMatch(Country) || !regexForInt.IsMatch(Year))
        {
            errorMassage = "Данные введены неверно";
            return false;
        }

        errorMassage = string.Empty;

        return true;
    }
}
